 @{
    ViewData["Title"] = "Home Page";
}

@using TravelClient.Models;
@model List<TravelClient.Models.Destination>;

<h1>All Destinations:</h1>

<ol>
@foreach (Destination destination in Model)
{
    <ul>
        <li>ID: @destination.DestinationId</li>
        <li>Name: @destination.City</li>
        <li>Species: @destination.Country</li>
        <li>Age: @destination.Review</li>
        <li>Rating: @destination.Rating</li>
    </ul>
    <br>
}
</ol> 
